.header{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/*body{*/
/*    margin: 0;*/
/*}*/

.inline{
    display: inline-block;
}

#inline_width{
    padding-left: 20px;
}

span{
    color: red;
}

#list table, #list th, #list td {
    border-collapse: collapse;
    padding: 5px 15px; /* 上下 左右 */
    /*border: dashed 1px #a8d4f3;*/
    border: solid 1px #a8d4f3;
}

.input_list{
    width: 500px;
    height: 25px;
}

.normal_textarea{
    width: 500px;
    height: 40px;
    margin-top: 20px
}

.input_list{
    margin-top: 15px;
}

.form{
    width: 100px;
    margin-top: 20px;
}

.radio1, .radio2{
    margin-top: 15px;
    width: 30px;
}

.radio2{
    margin-left: 15px;
}

.check1, .check2, .check3{
    width: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.check2, .check3{
    margin-left: 15px;
}

.detail{
    width: 500px;
    height: 40px;
    /*display: none;*/
    margin-top: 10px;
    margin-bottom: 15px;
}

.others{
    width: 500px;
    height: 40px;
    /*display: none;*/
    margin-top: 10px;
    margin-bottom: 15px;
}

.error{
    color: red;
    /*border: none;*/
}




/*
 *クリックしたら画像とか入力するところがフワッと出るやつ
 *https://saruwakakun.com/html-css/reference/hidden-show
 */
/*.hidden_box{*/
/*    display: inline-block;*/
/*}*/

/*.hidden_box .hidden_show {*/
    /*height: 0;*/
    /*padding: 0; いらない*/
/*    overflow: hidden;*/
/*    opacity: 0;*/
/*    transition: 0.8s;*/
/*}*/

/*クリックで中身表示*/
/*.hidden_box input:checked ~ .hidden_show {*/
/*    padding: 10px 0;*/
/*    height: auto;*/
/*    opacity: 1;*/
/*}*/