h1{
    color: blue;
}

.header{
    position: sticky;
    top: 0;
    background-color: #FFFFCC;
    z-index: 99;
}

.head{
    position: absolute;
    top: 40px;
    right: 10px;
}

#search{
    position: absolute;
    left: 30%;
    /*margin: auto;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    
    
}

.twitter{
    
    /*text-align: right;*/
    position: absolute;
    top: 140px;
    left: 66%;
    
}

hr{
    background-color: black;
}

.horizontal{
    position: absolute;
    width: 65%;
    left: 0;
}

.bar{
    position: absolute;
    top: 125px;
    left: 65%;
    height:90vh;
    width:.1vw;
    border-width:0;
    background-color: #567;

}

.star{
    position: absolute;
    left: 45%;
    
}