h1{
    color: blue;
    margin: 10px 0 0 10px;
    display: inline-block;
}

h2{
    display: inline-block;
    padding-right: 10px;
}

body {
    margin: 0px;
}

.link_color{
    /*color: #000;*/
    text-decoration: none;
}

#header{
    /*position: sticky;*/
    position: relative;
    top: 0px;
    z-index: 99;
}

#header_horizon{
    margin: 20px 0;
}

.various{
    position: relative;
    margin: 15px ;
}

.nav{
    justify-content: center;
}

.right_space{
    margin: 0 20px;
}

.space{
    padding-left: 15px;
}

.sp{
    margin-left: 15px;
}

.line_right{
    display: inline;
    border-right: 1px solid;
    color: #BBBBBB;
}

.horizontal{
    position: absolute;
    width: 65%;
    left: 0;
}

.information_container{
    position:relative;
    margin-top: 40px;
}

.information{
    position: absolute;
    left: 50px;
}

/*
**twitterAPI
**
*/
.twitter{
    position: absolute;
    top: 0px;
    width: 50vw;
    right: 50px;
}

.bar{
    position: absolute;
    margin: 0;
    left: 45%;
    height: 210vh;
    width:.1vw;
    border-width:0;
    background-color: #567;
}

.information_header{
    margin-bottom: 10px;    
}

/*twitterアイコン*/
.fa-twitter{
    margin: auto;
    padding: auto;
    color: #1DA1F2;
    text-decoration: none;
}

.tweet{
    margin: 0;
}

.tweet_text{
    margin-top: 5px;
    margin-bottom: 0;
}

.tweet_space{
    padding-bottom: 20px;
}

.slope_list{
    margin-bottom: 35px;
}

.ski_slope{
    display: block;
    margin: 10px 0;
}

.margin_bottom{
    margin-bottom: 3px;
    display: block;
}

.star_ranking{
    margin-top: 10px;
}

.star_detail{
    display: inline-block;
}

/*
**画像関係
*/
.image_container{
    position: relative;
    width: 100vw;
    height: 80vh;
}

#image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#back_button{
    position: absolute;
    top: 50%;
    left: 5px;
}

#forward_button{
    position: absolute;
    top: 50%;
    right: 5px;
}

#back_button, #forward_button{
    width: 40px;
    height: 40px;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius:50%;
}

/*画像下のラジオボタン*/
label{
    width: 20px;
    height: 20px;
}

.image_radio_button label{
    background: rgba(0, 0, 0, 0.5);
    color: #000;
    border-radius: 50%;
    cursor: pointer;
    font-size: 15px;
}

.image_radio_button input:checked+label{
    background: #000;
    color: #000;
}

/*ラジオボタンは消す*/
.image_radio_button input{
    display: none;
}

/*ラジオボタンの位置*/
.image_radio_button{
    position: absolute;
    bottom: 5px;
    left: 47%;
}
