h1{
    color: blue;
}

.link_color{
    /*color: #000;*/
    text-decoration: none;
}

#header{
    position: sticky;
    top: 0px;
    z-index: 99;
}

.head{
    position: absolute;
    top: 17px;
    right: 10px;
}

#header_color{
    background-color: #FFFFCC;
}

#search{
    position: absolute;
    left: 25%;
    top: 83px;
    /*margin: auto;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.line-right{
    border-right: 1px solid;
    color: #BBBBBB;
}

hr{
    /*background-color: black;*/
    /*color: black;*/
}

.horizontal{
    position: absolute;
    width: 65%;
    left: 0;
}

.bar{
    position: absolute;
    top: 900px;
    left: 60%;
    height:230vh;
    width:.1vw;
    border-width:0;
    background-color: #567;

}

.twitter{
    
    /*text-align: right;*/
    position: absolute;
    top: 900px;
    left: 61%;
    /*right: 15px;*/
    right: 50px;
    
}

#h2_twitter{
    display: inline-block;
    padding-right: 10px
}

/*twitterアイコン*/
.fa-twitter{    
    /*position: absolute;*/
    /*margin-left: 7px;*/
    /*margin-right: 7px;*/
    height: 55px;
    vertical-align: bottom;
    /*top: 923px;*/
    /*left: 74%;*/
    /*top: 890px;*/
    /*left: 74%;*/
    /*top: 3000px;*/
    /*left: 74%;*/
    margin: auto;
    padding: auto;
    color: #1DA1F2;
    text-decoration: none;
}

.slope_list{
    position: absolute;
    top: 900px;
    left: 15px;
}

.star_list{
    position: absolute;
    top: 1240px;
    left: 15px;
}

/*.star_detail{*/
    /*position: absolute;*/
/*    left: 45%;*/
    
/*}*/


/*
**画像関係
*/
.image_container{
    position: absolute;
    top: 150px;
    /*width: 100vw;*/
    width: 99vw;
    /*height: 50vh;*/
    height: 80vh;
    
}

#image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#back_button{
    position: absolute;
    top: 50%;
    left: 5px;
}

#forward_button{
    position: absolute;
    top: 50%;
    right: 5px;
}

#back_button, #forward_button{
    /*font-size: 20px;*/
    /*background: #ffa500;*/
    width: 40px;
    height: 40px;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius:50%;
}

/*画像下のラジオボタン*/
label{
    width: 20px;
    height: 20px;
}

.image_radio_button label{
    background: rgba(0, 0, 0, 0.5);
    color: #000;
    /*padding: 10px;*/
    /*margin: 5px;*/
    /*box-sizing: border-box;*/
    /*text-align: center;*/
    /*text-decoration: none;*/
    border-radius: 50%;
    cursor: pointer;
    font-size: 15px;
}
.image_radio_button input:checked+label{
    background: #000;
    color: #000;
    
}

/*ラジオボタンは消す*/
.image_radio_button input{
    display: none;
}

/*ラジオボタンの位置*/
.image_radio_button{
    position: absolute;
    top: 790px;
    left: 49%;
}


/*
**＜サンプル＞
*/
/*.example2 label{*/
/*    width: 150px;*/
/*    background: #c8eac3;*/
/*    color: #000;*/
/*    padding: 10px;*/
/*    margin: 10px;*/
/*    box-sizing: border-box;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    border-radius: 30px;*/
/*    cursor: pointer;*/
/*}*/
/*.example2 input:checked+label{*/
/*    background: #1a720d;*/
/*    color: #FFF;*/
/*}*/

/*.example2 input{*/
/*    display: none;*/
/*}*/



