a {
  color: #3490dc;
  text-decoration: none;
  background-color: transparent;
}

hr {
    width: 1424px;
}

.matching_header {
    display: inline-block;
    margin-right: 25px;
}

.profile {
    display: inline-block;
    margin: 10px 25px 10px 40px;
    font-size: 18px;
}

.no_profile {
    margin: 10px 25px;
}

.sns {
    margin-top: 8px;
    margin-bottom: 8px;
}

.bookmark {
    display: inline-block;
}

.p_inline {
    display: inline-block;
}

.profile_information {
    margin: 0 auto 40px auto;
    width: 1278px;
}

.summary table, .summary th, .summary td {
    border-collapse: collapse;
    padding: 5px 15px;
    border-top: 5px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}

td {
    height: 50px;
}

.summary {
    display: inline-block;
    margin-left: 2px;
}

.color_first_row {
    background-color: #DDDDDD;
}

.color_second_row {
    background-color: #EEEEEE;
}

.width_second_row_l {
    width: 460px;
}

.refine_search {
    position: relative;
    width: 1278px;
    margin: 40px auto 70px auto;
    padding: 0.5em 1em;
    border: solid 3px #a8ccf3;
    border-radius: 8px;
}

.refine_search .refine_search_title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #ff9595;
    font-weight: bold;
}

#input_slope {
    width: 200px;
}

.refine_search table, .refine_search th, .refine_search td {
    border-collapse: collapse;
    padding: 10px 15px;
    border: solid 1px #a8d4f3;
    text-align: center;
    margin: 20px 92.961px;
}

.search {
    position: absolute;
    top: 50%;
    right: 200px;
    transform: translate(0, -50%);
}

.clear {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translate(0, -50%);
}