body {
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "sans-serif";
}

a {
  color: #3490dc;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color:red;
}

.header {
    display: inline-block;
    margin-right: 40px;
}

.attention {
    margin-top: 0;
}

#list table, #list th, #list td {
    border-collapse: collapse;
    padding: 5px 15px;
    border: solid 1px #a8d4f3;
}

.inline {
    display: inline-block;
    margin-bottom: 16px;
}

#inline_width{
    padding-left: 20px;
}

span {
    color: red;
}

.input_list {
    width: 500px;
    height: 25px;
    margin-top: 15px;
}

textarea {
    width: 500px;
    height: 60px;
    margin-top: 20px
}

.form {
    width: 100px;
    margin-top: 20px;
}

.radio1, .radio2, .radio3, .radio4 {
    margin-top: 20px;
    width: 30px;
}

.radio2, .radio3, .radio4 {
    margin-left: 15px;
}

.check1, .check2, .check3 {
    width: 30px;
    margin-top: 20px;
}

.check2, .check3 {
    margin-left: 15px;
}

.error {
    color: red;
}

.caution {
    color: #c2c21c;
}