a {
  color: #3490dc;
  text-decoration: none;
  background-color: transparent;
}

h1 {
    display: inline-block;
    margin-right: 25px;
}

/*
 **絞り込み検索
 */
.refine_search {
    position: relative;
    width: 1339px;
    margin: 40px 25px 70px 25px;
    padding: 0.5em 1em;
    border: solid 3px #a8ccf3;
    border-radius: 8px;
}

.refine_search .refine_search_title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #ff9595;
    font-weight: bold;
}

#input_slope {
    width: 200px;
}

.refine_search table, .refine_search th, .refine_search td {
    border-collapse: collapse;
    padding: 10px 15px;
    border: solid 1px #a8d4f3;
    text-align: center;
    margin: 20px 92.961px;
}

.search {
    position: absolute;
    top: 75%;
    right: 75px;
    transform: translate(0, -75%);
}

.clear {
    position: absolute;
    top: 25%;
    right: 40px;
    transform: translate(0, -25%);
}

.ski_slope {
    display: block;
    margin-left: 30px;
    margin-bottom: 15px;
    font-size: 18px;
}

.no_slope {
    margin-left: 30px;
}

/*
 **スキー場概略テーブル
 */
.slope_information{
    position: relative;
    margin-left: 40px;
    margin-bottom: 50px;
}

table, th, td {
    border-collapse: collapse;
    padding: 5px 15px;
    border-top: 5px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}

td{
    height: 50px;
}

.color_first_row{
    background-color: #DDDDDD;
}

.color_second_row{
    background-color: #EEEEEE;
}

.first_row_width {
    width: 173.52px;
}

.width_second_row_l{
    width: 430px;
}

.width_second_row_r{
    width: 430px;
}

.summary_left{
    display: inline-block;
}

.summary_right{
    position: absolute;
    top: 0;
    left: 47.5vw;
}