a {
  color: #3490dc;
  text-decoration: none;
  background-color: transparent;
}

.information_header{
    margin-left: 15px;
}

#list table, #list th, #list td {
    border-collapse: collapse;
    padding: 5px 15px;
    border: solid 1px #a8d4f3;
    margin-left: 30px;
}

#list td{
    height: 40px;
}

.input_list{
    width: 500px;
    height: 25px;
}

.horizontal_line{
    margin-top: 40px;
}

.delete{
    display: inline;
}

/*
**twitterAPI
**
*/
.container{
    position: relative;
}

@media screen and (max-width: 1370px) {
    .twitter{
        display: none;
    }
}

.twitter{
    position: absolute;
    top: 0px;
    width: 40vw;
    right: 50px;
}

.h2_twitter{
    display: inline-block;
    padding-right: 10px;
}


/*twitterアイコン*/
.fa-twitter{
    margin: auto;
    padding: auto;
    color: #1DA1F2;
    text-decoration: none;
}

.tweet{
    margin: 0;
}

.tweet_text{
    margin-top: 5px;
    margin-bottom: 0;
}

.tweet_space{
    padding-bottom: 20px;
}

/*
**weatherAPI
**
*/
.h2_weather{
    margin-top: 30px;
    margin-left: 15px;
}

#openweathermap-widget-1{
    margin-left: 30px;
}
    
/*
**mapAPI
**
*/
.h2_map{
    margin-top: 80px;
    margin-left: 15px;
}

#map{
    height: 760px;
}