a {
  color: #3490dc;
  text-decoration: none;
  background-color: transparent;
}

.star_header {
    display: inline-block;
    margin-right: 25px;
}

.ski_slope {
    display: block;
    margin: 20px 15px;
}

.header_space {
    margin: 0 15px;
}

.star_rank {
    margin-left: 25px;
}
