a {
  color: #3490dc;
  text-decoration: none;
  background-color: transparent;
}

.header{
  display: inline-block;
  margin-left: 15px;
  margin-right: 18px;
}

.inline_block{
  margin: 0 18px;
}

.sub_header{
  margin-left: 18px;
  display: inline-block;
}

.inline_block{
  display: inline-block;
}

.left_right_space{
  margin: 0 18px;
}

#list table, #list th, #list td {
  border-collapse: collapse;
  padding: 5px 15px;
  border: solid 1px #a8d4f3;
  margin-left: 30px;
}

#list td{
    height: 40px;
}

.input_list{
  width: 500px;
  height: 25px;
}
