body {
    margin: 12px;
}

h2 {
    margin-bottom: 28px;
}

.login_yes, .login_no {
    display: block;
    margin-bottom: 15px;
}

.attention {
    color: red;
    margin-top: 8px;
    margin-bottom: 8px;
}

.summary_container {
    width: 60%;
}

.login_yes, .login_no, .attention, .summary {
    margin-left: 30px;
}

.login, .non_login {
    margin-left: 30px;
}

.non_login {
    margin-top: 50px;
}

.functions {
    margin-left: 65px;
}

span {
    background-color: #ffeb3bb3;
}